config global
	# Global timeout to wait for a network connection (only needed if using a Tang server)
	option network_timeout '30'

config drive
	option enabled '1'
	option uuid '1234abcd-1234-abcd-1234-abcd1234abcd'
	option label ''
	option mapper 'secure_data'

config drive
	option enabled '0'
	option uuid ''
	option label 'backup_vault'
	option mapper 'backup_storage'
